<h1>EVENT VIEWER</h1>
<p>(RoR version)</p>

<% @events.each do |event| %>
	<br>
	<h3><%= link_to(event.title, event) %></h3>
	<% if event.pubmat.exists? %>
		<%= image_tag event.pubmat.url(:thumb) %>
	<% end %>
	<h4><%= event.venue %></h4>
	<h4><%= event.time.strftime("Starts %b %e, %l:%M %p") %></h4>
<% end %>
